@(subject: model.DenormalisedSubject)

@import org.joda.time.format.DateTimeFormat

<link rel="stylesheet" href="//interactive.guim.co.uk/atoms/viewpoints.css"/>

<article class="viewpoints-atom" data-subject-id="@subject.id" data-viewpoints-length="@subject.viewpoints.length">

    <header class="viewpoints-atom__header">
        <h2 class="viewpoints-atom__tagline">Viewpoints</h2>
        @if(subject.link.isDefined) {
            <a href="@subject.link.get">
                <h1 class="viewpoints-atom__viewpoint-title">@subject.name</h1>
            </a>
        } else {
            <h1 class="viewpoints-atom__viewpoint-title">@subject.name</h1>
        }
    </header>

    @for((viewpoint, index) <- subject.viewpoints.zipWithIndex) {
        <section class="viewpoint@{ if(index % 2 != 0) " viewpoint--odd" }" data-viewpoint-id="@viewpoint.id" data-viewpoint-index="@index">

            <div class="viewpoint__contents">
                @if(viewpoint.link.isDefined) {
                    <a href="@viewpoint.link.get">
                        <blockquote class="viewpoint__quote">@viewpoint.quote</blockquote>
                    </a>
                } else {
                    <blockquote class="viewpoint__quote">@viewpoint.quote</blockquote>
                }

                <cite class="viewpoint__candidate-name" data-commenter-id="@viewpoint.commenter.id">@viewpoint.commenter.name<span class="viewpoint__candidate-title">@viewpoint.commenter.description</span></cite>

                @if(viewpoint.date.isDefined) {
                    @defining(DateTimeFormat.forPattern("d MMMM y")) { dateFormatter =>
                        <time class="viewpoint__date">@dateFormatter.print(viewpoint.date.get)</time>
                    }
                }
            </div>

            <aside class="viewpoint__candidate-image-container">
                <img class="viewpoint__candidate-image" src="@viewpoint.commenter.imageUrl" width="240" alt=""/>
            </aside>

        </section>
    }
</article>